* {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;;
    background-color: hsl(212, 45%, 89%);
}

.container .contenido{
    border: 3px solid black;
    margin: 0 33rem;
    border: transparent;
    border-radius: 10px;
    background-color: hsl(0, 0%, 100%);
}

.contenido p {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.container .contenido img {
    padding: 15px;
    height: 260px;
    border-radius: 20px;
    
}

.attribution {
    display: flex;
    justify-content: center;
    align-items: center;

}


@media screen and (min-width: 1440px) {
    .container .contenido {
        margin: 0 50rem; 
    } 
  }